<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">Professor</h4>
						<p class="category">Create profile</p>
					</div>
					<div class="card-content">
						<form>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Name</label>
										<input type="text" class="form-control" >
									</div>

								</div>
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Last Name</label>
										<input type="text" class="form-control" >
									</div>
								</div>	                                		
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Email</label>
										<input type="email" class="form-control" >
									</div>
								</div>	
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Password</label>
										<input type="text" class="form-control" >
									</div>
								</div>	                                
								<div class="col-md-12">
									<div class="form-group label-floating">
										<label class="control-label">Department (separate by pressing enter)</label>
										<textarea class="form-control" rows="5"></textarea>
									</div>
								</div>
							</div>             
				

							<button type="submit" class="btn btn-primary pull-right">Create Profile</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			
			</div>
		</div>
	</div>
</div>
