<div class="content">
	<div class="container-fluid">
		<div class="row">    

			<div class="col-md-12">
				<div class="card card-plain">
					<div class="card-header" data-background-color="purple">
						<a href="#" class="btn btn-warning btn-round" style="float:right;"><i class="material-icons">add</i>Add Professor</a>
						<h4 class="title">Profesors</h4>
						<p class="category">Click for details</p>

					</div>
					<div class="card-content table-responsive">
						<table class="table table-hover">
							<thead>
								<th>ID</th>
								<th>Name</th>
								<th>Identification</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Active</th>
								<th></th>
							</thead>
							<tbody>
								<tr>	                                        	
									<td>1</td>
									<td>Teresa Carreño</td>
									<td>15.234.234</td>
									<td>55-55-55</td>
									<td>asdas@asdasd.com</td>
									<td>Yes</td>
									<td><a href="#"><button class="btn btn-primary btn-round">Details</button></a></td>                         	
								</tr> 
									<tr>	                                        	
									<td>1</td>
									<td>Teresa Carreño</td>
									<td>15.234.234</td>
									<td>55-55-55</td>
									<td>asdas@asdasd.com</td>
									<td>No</td>
									<td><a href="#"><button class="btn btn-primary btn-round">Details</button></a></td>                         	
								</tr>                                        
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>