<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						<a href="#">
							<img class="img" src="img/faces/teresa.jpg" />
						</a>
					</div>

					<div class="content">
						<h6 class="category text-gray">Professor</h6>
						<h4 class="card-title">Teresa Carreño</h4>
						<p class="card-content">
							<i class="material-icons">call</i> Phone: 555-555<br>
							<i class="material-icons">email</i> Email: teresa@gmail.com<br>
						</p>
						<a href="#professor-reset" class="btn btn-info btn-round">Edit</a>
						<a href="#" class="btn btn-danger btn-round">Delete</a>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card" id="professor-reset">
					<div class="card-header" data-background-color="orange">
						<h4 class="title">Courses</h4>
						<p class="category">by Teresa Carreño</p>
					</div>
					<div class="card-content table-responsive">
						<table class="table table-hover">
							<thead class="text-warning">
								<th>Title</th>
								<th>Department</th>
								<th>Subject</th>
								<th>Number Students</th>
								<th>Status</th>
								<th>Date</th>
							</thead>
							<tbody>
								<tr>
									<td>Intro to Violin</td>
									<td>Strings</td>
									<td>Violin</td>
									<td>15</td>
									<td>Pending</td>
									<td>20/11/2017</td>
								</tr>
									<tr>
									<td>Intro to Violin</td>
									<td>Strings</td>
									<td>Violin</td>
									<td>15</td>
									<td>Pending</td>
									<td>20/11/2017</td>
								</tr>	
									<tr>
									<td>Intro to Violin</td>
									<td>Strings</td>
									<td>Violin</td>
									<td>15</td>
									<td>Pending</td>
									<td>20/11/2017</td>
								</tr>		                               
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
		
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="red">
						<h4 class="title">Reset Professor</h4>
						<p class="category">Edit profile information</p>
					</div>
					<div class="card-content">
							<form>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Name</label>
										<input type="text" class="form-control" >
									</div>

								</div>
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Last Name</label>
										<input type="text" class="form-control" >
									</div>
								</div>	                                		
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Email</label>
										<input type="email" class="form-control" >
									</div>
								</div>	
								<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Password</label>
										<input type="text" class="form-control" >
									</div>
								</div>	                                
								<div class="col-md-12">
									<div class="form-group label-floating">
										<label class="control-label">Department (separate by pressing enter)</label>
										<textarea class="form-control" rows="5"></textarea>
									</div>
								</div>
							</div>             
					

							<button type="submit" class="btn btn-primary pull-right" data-background-color="red">Reset Profile</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>